---
---

<section>
  <h3 id="cabal-sanctioned-actions" class="anchor" href="#cabal-sanctioned-actions" aria-hidden="true">Cabal-sanctioned projects</h3>

  <p><a href="https://github.com/Inaimathi/experimentalisp">Experimentalisp</a></p>

  <h3 id="experiments" class="anchor" href="#experiments" aria-hidden="true">Experiments</h3>

  <p><a href="https://github.com/CompSciCabal/SMRTYPRTY/blob/master/experiments/ndpar/sicp-5.3-gc/gc.gif">SICP GC animated</a></p>

  <p><a href="https://github.com/CompSciCabal/SMRTYPRTY/blob/master/experiments/inaimathi/sicp-constraints/compiler.lisp">Constraint solver</a></p>

  <p><a href="https://github.com/CompSciCabal/SMRTYPRTY/blob/master/experiments/scott/garbage_collector/plai/tests/gc/good-collectors/mark_and_compact_collector.rkt">Mark and Compact GC</a></p>

  <p><a href="https://github.com/CompSciCabal/SMRTYPRTY/blob/master/experiments/dann/josephus.js">Sketch of a Josephus solver</a></p>

</section>

<section>
  <h3><p>Cabal News and Meeting Recaps</p></h3>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
  </div>
  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="meta">
    {% assign author = site.authors[post.author] %}
    <span class="date">{{ post.date | date: "%B %-d, %Y" }}.</span>
    <span class="author">&nbsp;&nbsp;Brought to you by: {{ author.display_name }}</span>
    <a href="http://github.com/{{author.github}}">
      <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40", alt="{{author.github}}">
    </a>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
  {% endfor %}


</section>

