<header>
    <h1><a href="/" style="color:unset;font-weight:unset;">CS Cabal</a></h1>
    <p>Purveyors of fine automata since 1613</p>

    <p class="view"><a href="https://guild.host/cs-cabal/events">Guild<small>Meetup listings</small></a></p>

    <p class="view"><a rel="me" href="https://mastodon.online/@cscabal">Mastodon <small>Social Hub</small></a></p>

    <p class="view"><a href="https://groups.google.com/forum/#!forum/cs-cabal">Mailing list <small>Communication nexus</small></a></p>

    <p class="view"><a href="/coc.html">Code of Conduct <small>Must read</small></a></p>

</header>

